html *
{
   
   color: black !important;
   font-family: Orbitron !important;
   
}
body
{    
    background: linear-gradient(135deg,#153677, #4e085f);
    justify-items: center;
    align-items: center;
    padding: 9px;
    margin: 10px;
}
button:hover {
  transform: scale(1.1);  
  font-size: 18px;
}
header
{

    font-size: 30px;
    padding: 10px;
    justify-items: center;
}
main 
{
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    height:100vh;
    background-color: white;
    justify-items: center;
    padding: 10px;
    margin: 50px;
}

table
{
    border: 2px solid red;
   
}
th
{
    border: solid;
    border-width: 1px;

    padding: 9px;
}
